<!--The content below is only a placeholder and can be replaced.-->
<canvas #canvasE1 tabindex="1"></canvas>
<img #imgMarioStillRight style='display: none;' src="assets/mario-still-right.png" (load)="afterLoading()" />
<img #imgMarioStillLeft style='display: none;' src="assets/mario-still-left.png"/>
<img #imgMarioWalkingRight style='display: none;' src="assets/mario-walking-right.png"/>
<img #imgMarioWalkingLeft style='display: none;' src="assets/mario-walking-left.png"/>
<img #imgMarioJumpRight style='display: none;' src="assets/mario-jump-right.png"/>
<img #imgMarioJumpLeft style='display: none;' src="assets/mario-jump-left.png"/>
<img #imgBackground1_1 style='display: none;' src="assets/bg-1-1.png" />
<img #imgBlock style='display: none;' src="assets/block_flashing_ow.png" />
<img #imgBlock_hit style='display: none;' src="assets/block_hit_ow.png" />
<img #imgBlock_after style='display: none;' src="assets/block_after_ow.png"/>
<img #imgBrick style='display: none;' src="assets/brick-block.png"/>
<img #imgMushroomEnemyWalking style='display: none;' src="assets/mushroom_enemy_walking.png"/>
<img #imgMushroomEnemyFlat style='display: none;' src="assets/mushroom_enemy_flat.png"/>