<!--The content below is only a placeholder and can be replaced.-->
<canvas #canvasE1 tabindex="1"></canvas>
<img #imgMarioStillRight style='display: none;' (load)="afterLoading()" />
<img #imgMarioStillLeft style='display: none;' />
<img #imgMarioWalkingRight style='display: none;' />
<img #imgMarioWalkingLeft style='display: none;' />
<img #imgMarioJumpRight style='display: none;' />
<img #imgMarioJumpLeft style='display: none;' />
<img #imgBackground1_1 style='display: none;' />
<img #imgBlock style='display: none;' />
<img #imgBlock_hit style='display: none;' src="assets/block_hit_ow.png" />
<img #imgBlock_after style='display: none;' src="assets/block_after_ow.png"/>
<img #imgBrick style='display: none;' />
