<!--The content below is only a placeholder and can be replaced.-->
<canvas #canvasE1 tabindex="1"></canvas>
<img #imgMarioStillRight style='display: none;' src="assets/graphics/mario-still-right.png" (load)="afterLoading()" />
<img #imgMarioStillLeft style='display: none;' src="assets/graphics/mario-still-left.png" (load)="afterLoading()" />
<img #imgMarioWalkingRight style='display: none;' src="assets/graphics/mario-walking-right.png" (load)="afterLoading()" />
<img #imgMarioWalkingLeft style='display: none;' src="assets/graphics/mario-walking-left.png" (load)="afterLoading()" />
<img #imgMarioJumpRight style='display: none;' src="assets/graphics/mario-jump-right.png" (load)="afterLoading()" />
<img #imgMarioJumpLeft style='display: none;' src="assets/graphics/mario-jump-left.png" (load)="afterLoading()" />
<img #imgBackground1_1 style='display: none;' src="assets/graphics/bg-1-1.png" (load)="afterLoading()" />
<img #imgBlock style='display: none;' src="assets/graphics/block_flashing_ow.png" (load)="afterLoading()" />
<img #imgBlock_hit style='display: none;' src="assets/graphics/block_hit_ow.png" (load)="afterLoading()" />
<img #imgBlock_after style='display: none;' src="assets/graphics/block_after_ow.png" (load)="afterLoading()" />
<img #imgBrick style='display: none;' src="assets/graphics/brick-block.png" (load)="afterLoading()" />
<img #imgMushroomEnemyWalking style='display: none;' src="assets/graphics/mushroom_enemy_walking.png" (load)="afterLoading()" />
<img #imgMushroomEnemyFlat style='display: none;' src="assets/graphics/mushroom_enemy_flat.png" (load)="afterLoading()" />
<audio #audioOption (load)="afterLoading()" >
    <source src='assets/sounds/01-main-theme-overworld.mp3' type="audio/mp3">
</audio>
